<nav class="navbar navbar-lg navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">SkyBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">View Posts</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropzonesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Drop Zones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#each DZs}}
                    <a target="_blank" class="dropdown-item" href={{website}}>{{name}}</a>
                    {{/each}}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h2 id="profile-name"> {{name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <!--<img src={{img}} class="img-fluid" alt="Profile Picture">-->
                <img class="photo photo-img" src={{img}} class="img-fluid" alt="Profile Picture">
                <label for="image-input">Change your profile image</label>
                <form id="img_form" action="" method="POST" enctype="multipart/form-data">
                <input name="img" type="file" id="img-input"/>
                </form>
</form>
            </div>
            <div class="col-sm">
                <p>License: {{license}}</p>
                <p>Jumps: {{numberOfJump}}</p>
                <p>Home DZ: {{homeDropZone}}</p>
                <p>Bio: {{bio}}</p>
            </div>
        </div>
    </div>
</div>
